<h1><%= @city %></h1>
<div class="current-weather">
  <h2>Current weather</h2>
  <%= render partial: 'weather', locals: {weather: @weather[0]} %>
</div>
<div class="forecast">
  <h2>5-day Weather Forecast</h2>
  <% @forecast_data.each do |day| %>
    <%= render partial: 'weather', locals: {weather: day["weather"][0]} %>
    <%= day["dt_txt"] %>
  <% end %>
</div>
