<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4"><%= @location %></h1>
  <div class="flex items-center mb-4">
    <%= link_to "Add to favorites", add_to_favorites_path(location_name: @location), method: :post, class: "bg-blue-500 text-white py-2 px-4 rounded mr-4" %>
  </div>
  <div class="current-weather">
    <h2 class="text-2xl font-bold mb-4">Current weather</h2>
    <%= render partial: 'weather', locals: {weather: @weather[0], date_time: Time.now} %>
  </div>
  <div class="forecast">
    <h2 class="text-2xl font-bold mb-4">5-day Weather Forecast</h2>
    <% @forecast_data.each do |day| %>
      <%= render partial: 'weather', locals: {weather: day["weather"][0], date_time: DateTime.parse(day["dt_txt"]) } %>
    <% end %>
  </div>
</div>
