<h1>Favorite Cities</h1>
<%if @cities.count > 0 %>
  <ul>
    <% @cities.each do |city| %>
      <li>
        <%= city.name%>
        <%= link_to "Remove from favorites", remove_from_favorites_path(city_id: city.id), method: :delete, class: "bg-blue-500 text-white py-2 px-4 rounded mr-4" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>User has no favorite cities.</p>
<% end %>
